name: test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Metanorma tests
    steps:
    - uses: actions/checkout@v2

    - uses: actions/checkout@v2
      with:
        repository: metanorma/mn-samples-iso
        path: iso

    - uses: site-gen/
      with:
        source-path: iso